/* Bilyk Vladyslava*/
@import url('https://fonts.googleapis.com/css2?family=Grechen+Fuemen&display=swap');

.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  height: 60px;
  background-color: #2683b5;
  display: flex;
  align-items: center;
  z-index: 1000;
}
.navbar button {
  background: none;
  border: none;
  color: white;
  font-size: 20px;
  cursor: pointer;
}

.calendar-button {
  margin-left: 200px; 
}

.other-button {
  margin-left: 100px; 
}

.navbar button.active {
  text-decoration: underline;
}

.logo {
  border-radius: 50%; 
  object-fit: cover; 
  height: 40px;
  margin-right: 10px;
  margin-left: 30px;
}

.app-name {
  font-family: 'Grechen Fuemen', sans-serif; 
  margin-left: 10px; 
  font-size: 35px; 
  color: white; 
}

section {
  padding: 100px 100px;
  margin-top: min(10vh, 60px);
  margin-bottom: min(10vh, 60px);
  margin-inline: 10vh;


}


#dishes,
#shoppingList{ 
  padding: 40px; 
  height: 80vh;
  background-color: #ffffffc8; 
  overflow-y: auto;
}
#dishes h2,
#shoppingList h2{
  margin-top: 0px;
}

/* M A R Y N A*/

section#calendar {
  margin-top: min(25vh, 120px);
}
#calendar h2 {
  text-align: center;
  margin: 10px 10px 10px 0;
}

#products{
  padding: 10vh;
  background-color: white;
  border-radius: 36px;

}
section#products {
  height: 77vh;                /* Висота секції 90% від висоти вікна */
  overflow-y: auto;            /* Додає вертикальну прокрутку */
  padding: 10px;               /* Внутрішній відступ */
  box-shadow: 0 2px 5px rgba(0,0,0,0.1); /* Легка тінь для секції */
}

.section-header {
  display: flex; /* Enables flexbox */
  align-items: center; /* vertically centers */
  justify-content: center;
}