/* Autor: Bilyk Vladyslava */
/* --------------SEARCH BAR---------------- */
  .shopping-list-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    gap: 5px; 
  }
  
  .shopping-list-header input[type="text"] {
    flex: 1; /* Occupies the entire available width */
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc; 
    border-radius: 5px; 
    outline: none;
    box-sizing: border-box;
  }

  .search-button {
    background-color: #2683b5; 
    color: #fff; 
    border: none;
    border-radius: 5px; 
    padding: 10px 20px;
    cursor: pointer;
    height: 100%; 
  }

  .search-button:hover {
    background-color: #1d6a92; 
  }

  .add-product-button {
    background-color: #2683b5; 
    color: #fff; 
    border: none;
    border-radius: 20px; 
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    height: 100%; 
  }

  .add-product-button:hover {
    background-color: #1d6a92; 
  }

  /* --------------LIST OF PRODUCT---------------- */
  .shopping-list {
    list-style: none;
    padding: 0;
    margin: 0;
  }

  .shopping-list li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: white;
    margin-bottom: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }

  .product-info {
    display: flex;
    align-items: center;
  }

  .product-info span {
    margin-right: 10px;
  }

  /* --------------UPDATE MODE---------------- */
  .product-input {
    width: 60px; 
    margin-right: 10px;
  }

  

  /* --------------FORM---------------- */
  /* Fill all window size for form */
  .modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1000;
    padding: 20px; 
    overflow-y: auto; 
}

  .modal-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: transparent;
  }

  .modal-content {
    position: relative;
    width: 600px;
    max-width: 90%;
    max-height: 80%;
    background: white;
    border-radius: 10px;
    padding: 20px 30px; 
    z-index: 1100;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    display: flex;
    flex-direction: column; 
    justify-content: space-between; 
    overflow: hidden; 
}

.close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    border: none;
    background: none;
    font-size: 20px;
    cursor: pointer;
}

.form-container {
    display: flex;
    justify-content: space-between; 
    align-items: flex-start; 
    gap: 20px;
    flex-grow: 1;
    width: 100%; 
    overflow-y: auto; 
    padding: 10px; 
    box-sizing: border-box; 
}


.form-section {
    flex: 1;
    min-width: 0; 
}

.form-divider {
    width: 2px;
    background: #ddd;
    flex-shrink: 0;
}

.product-select,
.form-section input[type="text"],
.form-section input[type="number"],
.form-section input[type="date"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 14px;
}

label {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 14px;
}

.submit-button {
    align-self: center; 
    width: 200px;
    margin: 0 auto;
    padding: 10px;
    background-color: #2683b5;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    text-align: center;
    transition: background-color 0.3s ease;
}

.submit-button:hover {
    background-color: #1e6c94;
}


