@import url('https://fonts.googleapis.com/css2?family=Grechen+Fuemen&display=swap');

.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #2683b5;
  /* padding: 10px; */
  display: flex;
  /* justify-content: space-around; */
  align-items: center;
  z-index: 1000;
}

button {
  background: none;
  border: none;
  color: black;
  font-size: 20px;
  cursor: pointer;
}

.calendar-button {
  margin-left: 200px; /* Відступ для кнопки Calendar */
}

.other-button {
  margin-left: 100px; /* Відступ для всіх інших кнопок */
}

button.active {
  text-decoration: underline;
}

.logo {
  border-radius: 50%; /* Кругла форма */
  object-fit: cover; /* Обрізка зображення */
  height: 80px;
  margin-right: 10px;
  margin-left: 30px;
}

.app-name {
  font-family: 'Grechen Fuemen', sans-serif; /* Застосовуємо шрифт */
  margin-left: 10px; /* Відступ від логотипу */
  font-size: 35px; /* Розмір шрифту */
  color: black; /* Колір тексту */
}

section {
  padding: 100px 100px;
  margin-top: 60px; /* Відступ, щоб не перекривалося меню */
}
